@{
    ViewBag.Title = "Syntax";
}

<script type="text/javascript">
    function MyFunction() {
        
        var data = {
            focus: $('#test').val(),
            context: "what"
        };
        $.ajax({
            url: "/Home/AnalyzeText",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                alert('Success');
            },
            error: function (result) {
                alert('Failed');
            }
        });
        return false;
    }

</script>

<style>
    .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>

<div class="jumbotron">
    <h1>SYNTAX</h1>

    <p class="lead">SYNTAX is a web-based contextual search application.</p>

    <div class="fileUpload btn btn-primary" action="" method="post" enctype="multipart/form-data">
        <span>Upload .txt File</span>
        <input type="file" class="upload" name="file" id="file" />
    </div>

</div>

Focus:
<input type="text" id="Focus" />

Context:
<input type="text" id="Context" />


































<button type="button" onclick="MyFunction()">Search</button>